<%= render partial: 'layouts/navbar' %>

<% if flash[:error] %>
  <div class="alert alert-danger" role="alert">
    <div id="error_explanation">
      <%= flash[:error] %>
    </div>
  </div>
<% end %>
<div>
  <h1>Welcome <%= @user.name%></h1>
</div>
<div>
  <h1>Your posts</h1>
</div>
<div>
  <% @posts.each do |post| %>
    <ul>
      <li> <%= link_to post.title, post_path(post) %> </li>
    </ul>
  <% end %>
</div>
<br />
<div>
  <%= link_to "Create a new post", new_post_path %>
</div>
